body {
    margin-top: 8vh;
}

.container-fluid, .container-responsive {
    margin: auto;
    max-width: 1024px;
}

input:hover {
    background-color: aliceblue;
}

select:hover {
    background-color: aliceblue;
}

.table-responsive {
    overflow-y: auto;
    height: 46vh;
    scroll-behavior: smooth;
}

.table-responsive {
    width: 100%;
    -layout: fixed;
}

.table-responsive th {
  text-align: left;
  top: 0;
  position: sticky;
  background-color: #fff;
}