<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="//getbootstrap.com/favicon.ico">
        <title>fill pickems</title>
	    <link rel="stylesheet" href="/scripts/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/scripts/node_modules/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/scripts/node_modules/pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet/less" type="text/css" href="styles/fe.less" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="/scripts/node_modules/less/dist/less.min.js"></script>
        <script src="/scripts/node_modules/jquery/dist/jquery.slim.min.js"></script>
        <script src="/scripts/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
        <script src="/scripts/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/scripts/node_modules/moment/min/moment-with-locales.min.js"></script>
        <script src="/scripts/node_modules/pc-bootstrap4-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/scripts/custom.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top justify-content-between">
            <a class="navbar-brand" href="/">PHP NFL Pickem Schedule Editor</a>
	    <div class="text-right"><a class="btn btn-primary" target="_blank" href="/export.php">Export Schedule</a></div>
        </nav>
        <main role="main" class="container">
        <div class="container-responsive">
            <h2>Write a schedule</h2>
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="homeID">home team</label>
                        <select class="form-control" id="homeID" name="homeID" required>
                            {% for team in teams %}
                            <option id="{{ team['teamID'] }}" name="{{ team['teamID'] }}" value="{{ team['teamID'] }}">
                            {{ team['teamID'] }} / {{ team['conference'] }} / {{ team['division'] }} -
                            {{ team['city'] }} {{ team['team'] }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            Please choose a home team.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="visitorID">visitor team</label>
                        <select class="form-control" id="visitorID" name="visitorID" required>
                            {% for team in teams %}
                            <option id="{{ team['teamID'] }}" name="{{ team['teamID'] }}" value="{{ team['teamID'] }}">
                            {{ team['teamID'] }} / {{ team['conference'] }} / {{ team['division'] }} -
                            {{ team['city'] }} {{ team['team'] }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            Please choose a visitor team.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="username">gameTimeEastern</label>
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker1">
                            <input type="text" class="form-control datepicker" name="gameTimeEastern" required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <div class="invalid-feedback">
                                Please enter a valid game time.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="weekNum">weekNum</label>
                    <input type="number" min="1" class="form-control" name="weekNum" id="weekNum" placeholder="weekNum" required>
                    <div class="invalid-feedback">
                        Please enter a valid week number.
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="button" onclick="fetchMe($('form').serialize());">Add game</button>
            </form>
        </div>
        <div class="container-responsive">
            <hr class="mb-3" />
            <h2>List Schedules</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>gameID</th>
                            <th>weekNum</th>
                            <th>gameTimeEastern</th>
                            <th>homeID</th>
                            <th>homeScore</th>
                            <th>visitorID</th>
                            <th>visitorScore</th>
                            <th>overtime</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schedule in schedules %}
                        <tr>
                            <td>{{ schedule['gameID'] }}</td>
                            <td>{{ schedule['weekNum'] }}</td>
                            <td>{{ schedule['gameTimeEastern'] }}</td>
                            <td>{{ schedule['homeID'] }}</td>
                            <td>{{ schedule['homeScore'] }}</td>
                            <td>{{ schedule['visitorID'] }}</td>
                            <td>{{ schedule['visitorScore'] }}</td>
                            <td>{{ schedule['overtime'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </main>
        <script type="text/javascript">
            $(function () {
                $('.datepicker').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm:ss'
                });
                $('#datetimepicker1').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm:ss'
                });
            });
        </script>
    </body>
</html>
